{%- for block in section.blocks -%}
  {%- case block.type -%}
    {%- when 'trustpilot_mini' -%}
      <script src="{{ 'trustpilot-product-reviews.js' | asset_url }}" async></script>
      {{ 'trustpilot-product-reviews.css' | asset_url | stylesheet_tag }}

      <div
        class="break element-spacing-all{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
        {{ block.shopify_attributes }}
        {% if settings.animations_reveal_on_scroll %}
          style="
            --animation-order: {{ forloop.index }};
            --padding-top: {{ block.settings.padding_top }}px;
            --padding-bottom: {{ block.settings.padding_bottom }}px;
            position: inherit;
            z-index: 1;
          "
        {% else %}
          style="
            --padding-top: {{ block.settings.padding_top }}px;
            --padding-bottom: {{ block.settings.padding_bottom }}px;
          "
        {% endif %}
      >
        <div id="reviews-button" class="trustpilotTooltip">
          <div class="col-12 trustpilot-mini-widget m-0 p-0" style="min-height:25px;"></div>
        </div>
      </div>
  {%- endcase -%}
{%- endfor -%}

<script>
  document.getElementById('reviews-button').addEventListener('click', function () {
    // Simulate a click on the collapsible content element
    const collapsible = document.querySelector('.trustpilot-accordion');
    if (collapsible) {
      collapsible.click();
    }
  
    // Smoothly scroll to the element with the ID "reviews"
    document.getElementById('reviews').scrollIntoView({ behavior: 'smooth' });
  
    // Determine scroll offset based on screen size
    const offset = window.matchMedia('(max-width: 750px)').matches ? 260 : 50; // 20px for mobile, 50px for desktop
  
    // Adjust the scroll position slightly above the target
    setTimeout(function () {
      window.scrollBy(0, -offset); // Use the offset value based on the device
    }, 500); // Delay to allow smooth scroll to finish
  });
  </script>
