<div class="spacing spacing-xs gradient container-fluid"
  style="--padding-top: {{ section.settings.padding_top }}px;
  --padding-bottom: {{ section.settings.padding_bottom }}px;
  --padding-top-xs: {{ section.settings.padding_top_mobile }}px;
  --padding-bottom-xs: {{ section.settings.padding_bottom_mobile }}px;
  "
{{ section.shopify_attributes }}
>
  <div class="row">
    <div 
      class="col-12 col-md-3 center p22-stickley-pro-text" 
      style="
        padding-top:15px;
        padding-bottom:15px;
        border-top: solid 1px rgba(var(--color-foreground), .2);
        border-bottom: solid 1px rgba(var(--color-foreground), .2);
    ">
      As Seen In:
    </div>
    {%- if section.settings.logo1 != blank -%}
      <div class="col-4 col-md-3" 
        style="
          background-color:#404E2E;
          padding-top:15px;
          padding-bottom:15px;
      ">
        {%- if section.settings.image_picker_link1 != blank -%}
          <a href="{{ section.settings.image_picker_link1 }}">
          {%- endif -%}
            <img src="{{ section.settings.logo1 | image_url: height: 25 }}" alt="{{ section.settings.image_picker_alt1 }}" style="margin-right: 15px;">
          {%- if section.settings.image_picker_link1 != blank -%}
          </a>
        {%- endif -%}
      </div>
    {%- endif -%}
    {%- if section.settings.logo2 != blank -%}  
      <div class="col-4 col-md-3" style="background-color:#404E2E; padding-top:15px; padding-bottom:15px;">        
        {%- if section.settings.image_picker_link2 != blank -%}
          <a href="{{ section.settings.image_picker_link2 }}">
          {%- endif -%}
            <img src="{{ section.settings.logo2 | image_url: height: 25 }}" alt="{{ section.settings.image_picker_alt2 }}" style="margin-right: 15px;">
          {%- if section.settings.image_picker_link2 != blank -%}
          </a>
        {%- endif -%}
      </div>
    {%- endif -%}
    {%- if section.settings.logo3 != blank -%}
      <div class="col-4 col-md-3" style="background-color:#404E2E; padding-top:15px; padding-bottom:15px;">
        {%- if section.settings.image_picker_link3 != blank -%}
          <a href="{{ section.settings.image_picker_link3 }}">
          {%- endif -%}
            <img src="{{ section.settings.logo3 | image_url: height: 25 }}" alt="{{ section.settings.image_picker_alt3 }}" style="margin-right: 15px;">
          {%- if section.settings.image_picker_link3 != blank -%}
          </a>
        {%- endif -%}
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "As Seen In",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer", "custom.popup"]
  },
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.all.heading.label",
      "default": "As Seen In"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 75
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top_mobile",
      "default": 45
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom_mobile",
      "default": 15
    },
    {
      "type": "header",
      "content": "Logos"
    },
    {
      "type": "image_picker",
      "id": "logo1",
      "label": "Logo 1"
    },
    {
      "type": "url",
      "id": "image_picker_link1",
      "label": "Logo 1 Link"
    },
    {
      "type": "text",
      "id": "image_picker_alt1",
      "label": "Logo 1 Alt Tag",
      "default": "HouseBeautiful"
    },
    {
      "type": "image_picker",
      "id": "logo2",
      "label": "Logo 2"
    },
    {
      "type": "url",
      "id": "image_picker_link2",
      "label": "Logo 2 Link"
    },
    {
      "type": "text",
      "id": "image_picker_alt2",
      "label": "Logo 2 Alt Tag",
      "default": "interior designer"
    },
    {
      "type": "image_picker",
      "id": "logo3",
      "label": "Logo 3"
    },
    {
      "type": "url",
      "id": "image_picker_link3",
      "label": "Logo 3 Link"
    },
    {
      "type": "text",
      "id": "image_picker_alt3",
      "label": "Logo 3 Alt Tag",
      "default": "COUNTRY LIVING"
    }
  ]
}
{% endschema %}